/* You can add global styles to this file, and also import other style files */
.state-alivrer,
.state-encours,
.state-livre {
  text-transform: capitalize;
}

.state-alivrer {
  color: red;
}
.state-encours {
  color: orange;
}
.state-livre {
  color: green;
}
